---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<header>
	<div class="header-section">
		<div class="header-frame">
			<h1><a href="/">{SITE_TITLE}</a></h1>
			<p>{SITE_DESCRIPTION}</p>
		</div>
	</div>
</header>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
